body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
  }

.nav {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  #logs {
    justify-content: space-around;
  }

#main {
    display: relative;
    border: 3px solid black;
    border-radius:12%;
    flex-wrap: wrap;
    
}  

.images {
    display: flex;
    padding-bottom: 500px;
    flex-wrap: wrap-reverse;
    width: 100%;
    gap: 10px;
}

  

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto; 
    padding: 1rem;
    align-items: flex-end;
  }
